<header class="header">
  <app-container>
    <mat-toolbar>
      <img
        routerLink="/"
        src="assets/logo.svg"
        alt="Logo da aplicação"
        class="header__logo"
      />
      <span class="header__spacer"></span>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        class="header__menu-button"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/" routerLinkActive="active">
          Home
        </button>
        <button mat-menu-item routerLink="/trilhas" routerLinkActive="active">
          Trilhas
        </button>
        <button mat-menu-item routerLink="/projetos" routerLinkActive="active">
          Projetos
        </button>
        <button mat-menu-item routerLink="/contato" routerLinkActive="active">
          Contato
        </button>
      </mat-menu>
      <nav>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a routerLink="/trilhas" routerLinkActive="active">Trilhas</a>
        <a routerLink="/projetos" routerLinkActive="active">Projetos</a>
        <button routerLink="/contato" routerLinkActive="active">Contato</button>
      </nav>
    </mat-toolbar>
  </app-container>
</header>
