.serie {
  display: flex;
  gap: var(--space-lg);
  justify-content: center;

  @media (max-width: 1020px) {
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--space-xs);
  }
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;

  &-separator {
    color: var(--dark-color);
    text-decoration: none;
    font-weight: var(--font-weight-medium);
    font-size: var(--font-size-xs);
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  .current {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-xs);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 10px;
  }
}

.serie__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  width: 25%;
  padding: var(--space-xs);
  background-color: var(--heading-light-color);
  border-radius: var(--space-xs);
  margin: var(--space-lg) 0;
  height: 75dvh;
  overflow-y: auto;

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: var(--space-xs);
  }

  &::-webkit-scrollbar {
    width: var(--space-xs);
    height: var(--space-xs);
  }

  @media (max-width: 1020px) {
    width: 100%;
  }
}

.video-image {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 12px;
  display: block;
  cursor: pointer;
  transition: box-shadow 0.5s ease;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  &:hover {
    box-shadow: 0 2px 6px var(--black);
  }
}

.video {
  margin: var(--space-lg) 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 1020px) {
    margin: var(--space-lg) 0 0 0;
    width: 100%;
    height: auto;
    align-items: center;
  }

  &__wrapper {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__player iframe {
    width: 100%;
    height: 100%;
  }

  &__title {
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-medium);
    color: var(--txt-dark);
    margin-top: var(--space-xs);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__channel-button {
    margin: 0;
    margin-top: var(--space-xs);
    max-width: 100%;
    display: inline-block;
    background: var(--secondary-accent-color);
    color: var(--white);
    padding: var(--space-xxs) var(--space-xs);
    border-radius: 8px;
    text-decoration: none;
    font-size: var(--font-size-sm);
    transition: background 0.3s ease;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background: var(--primary-color);
    }
  }
}

/* animação shimmer */
@keyframes loadingShimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}

.thumbnail-placeholder,
.video-placeholder,
.text-placeholder {
  background: #e0e0e0;
  border-radius: 8px;
  background: linear-gradient(90deg, #e0e0e0 0%, #f0f0f0 50%, #e0e0e0 100%);
  background-size: 200px 100%;
  animation: loadingShimmer 1.5s infinite;
}

.thumbnail-placeholder {
  width: 100%;
  height: 800px;
}

.video-container-placeholder {
  margin: var(--space-lg) 0;
  width: 100%;
}

.video-placeholder {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 16px;
  margin-bottom: var(--space-sm);
}

.text-placeholder {
  width: 60%;
  height: 16px;
  margin-bottom: var(--space-xs);
}

.text-placeholder.small {
  width: 40%;
}
