.contact {
  display: flex;
  gap: var(--space-xs);
  align-items: flex-start;
  padding: 0 var(--space-xl);

  @media (max-width: 860px) {
    padding: 0 var(--space-md);
    flex-direction: column;
    align-items: center;
  }

  &__details {
    max-width: 40%;
    margin-bottom: var(--space-md);

    @media (max-width: 860px) {
      max-width: 100%;
      margin-bottom: var(--space-xs);
    }
  }

  &__title {
    margin: var(--space-lg) auto var(--space-sm) auto;
  }

  &__content {
    margin-bottom: var(--space-sm);
  }

  &__form {
    margin: var(--space-xxl) auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);

    & mat-form-field {
      width: 70%;
    }

    @media (max-width: 860px) {
      margin: var(--space-xs) auto var(--space-lg) auto;

      & mat-form-field {
        width: 100%;
      }
    }
  }

  &__btn {
    font-size: var(--font-size-sm);
  }
}
