.card {
  display: block;
  padding: var(--space-xxs);
  width: 220px;
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
  flex-direction: column;
  gap: 0.75rem;

  &-image {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 12px;
    display: block;
    cursor: pointer;
    transition: box-shadow 0.5s ease;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

    &:hover {
      box-shadow: 0 2px 6px var(--primary-color);
    }
  }

  &-title {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--txt-dark);
    margin-top: var(--space-xs);

    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow: hidden;
    text-overflow: ellipsis;

    line-height: 1.4;
    min-height: calc(1.4em * 2);
  }

  &-channel-button {
    margin: 0;
    margin-top: var(--space-xs);
    max-width: 100%;
    display: inline-block;
    background: var(--secondary-accent-color);
    color: var(--white);
    padding: var(--space-xxs) var(--space-xs);
    border-radius: 8px;
    text-decoration: none;
    font-size: var(--font-size-sm);
    transition: background 0.3s ease;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:hover {
      background: var(--primary-color);
    }
  }
}
