<app-container>
  <app-banner></app-banner>
  <div class="selection">
    @for(tema of temas; track tema.id){
    <app-diamond-button
      [texto]="tema.titulo === 'Lógica de programação' ? 'Lógica' : tema.titulo"
      [alt]="tema.titulo"
      [imagem]="'assets/' + sanitize(tema.titulo) + '.svg'"
      [ativo]="selection === tema.id"
      (selecionado)="changeSelection(tema.id)"
    ></app-diamond-button>
    }
  </div>

  <div class="series">
    @if(isLoading()){

    <app-progress-spinner></app-progress-spinner>
    } @else { @if(series.length === 0){
    <p>Nenhum conteúdo encontrado...</p>
    } @for(serie of series; track serie.id){
    <app-series-card [serie]="serie"></app-series-card>
    }}
  </div>
</app-container>
