<app-container>
  <div class="top">
    <img
      class="top__image"
      src="assets/trilhas.png"
      alt="Meninas na tecnologia"
    />
  </div>
  <div class="selection">
    <app-diamond-button
      [texto]="'Lógica'"
      [alt]="'Lógica de programação'"
      [imagem]="'assets/logica.svg'"
      [ativo]="selection === 'logica'"
      (selecionado)="changeSelection('logica')"
    ></app-diamond-button>
    <app-diamond-button
      [texto]="'Python'"
      [alt]="'Python'"
      [imagem]="'assets/python.svg'"
      [ativo]="selection === 'python'"
      (selecionado)="changeSelection('python')"
    ></app-diamond-button>
    <app-diamond-button
      [texto]="'Streamlit'"
      [alt]="'Streamlit'"
      [imagem]="'assets/streamlit.svg'"
      [ativo]="selection === 'streamlit'"
      (selecionado)="changeSelection('streamlit')"
    ></app-diamond-button>
    <app-diamond-button
      [texto]="'App Inventor'"
      [alt]="'App Inventor'"
      [imagem]="'assets/app-inventor.svg'"
      [ativo]="selection === 'appinventor'"
      (selecionado)="changeSelection('appinventor')"
    ></app-diamond-button>
    <app-diamond-button
      [texto]="'Thunkable'"
      [alt]="'Thunkable'"
      [imagem]="'assets/thunkable.svg'"
      [ativo]="selection === 'thunkable'"
      (selecionado)="changeSelection('thunkable')"
    ></app-diamond-button>
    <app-diamond-button
      [texto]="'Kodular'"
      [alt]="'Kodular'"
      [imagem]="'assets/kodular.svg'"
      [ativo]="selection === 'kodular'"
      (selecionado)="changeSelection('kodular')"
    ></app-diamond-button>
  </div>
</app-container>
