<section class="hero">
  <div class="hero__left">
    <h1>Dê o primeiro passo no mundo da programação!</h1>
    <p>
      Descubra trilhas gratuitas criadas para meninas que querem aprender a
      programar do zero. Explore vídeos, tutoriais e desafios criativos em
      plataformas como App Inventor, Thunkable, Kodular, Python e muito mais!
    </p>
    <button routerLink="/trilhas">Comece sua jornada agora!</button>
  </div>
  <img class="hero__image" src="assets/hero.png" alt="Meninas na tecnologia" />
</section>
