.group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-xs);

  &__button {
    margin: 0;
    width: 80px;
    height: 80px;
    background: var(--primary-color);
    border: none;
    cursor: pointer;

    -webkit-mask: url("/assets/losango.svg") no-repeat center / contain;
    mask: url("/assets/losango.svg") no-repeat center / contain;

    transition: background 0.3s ease, transform 0.2s ease;

    @media (max-width: 860px) {
      width: 60px;
      height: 60px;
    }
  }

  &__icon {
    position: relative;
    z-index: 2;
    max-height: 70%;
    width: 80%;
    height: auto;
    object-fit: contain;
    pointer-events: none;
  }

  &__label {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-lightbold);
    text-align: center;
    color: var(--primary-color);
  }

  &:hover,
  &.active {
    .group__button {
      background: var(--secondary-accent-color);
    }

    .group__label {
      color: var(--secondary-accent-color);
    }
  }

  &:hover {
    .group__button {
      transform: scale(1.2);
    }
  }
}
