a {
  color: var(--dark-color);
  text-decoration: none;
  font-weight: var(--font-weight-medium);
  transition: color 0.3s ease, transform 0.2s ease;
  font-size: var(--font-size-xs);
  margin: 0 10px;
}

a:hover {
  color: var(--accent-color);
  font-weight: var(--font-weight-lightbold);
  cursor: pointer;
}

a.active {
  color: var(--accent-color);
  font-weight: var(--font-weight-lightbold);
}

button {
  background-color: var(--secondary-accent-color);
  color: var(--white);
  border: none;
  padding: var(--space-xs) var(--space-sm);
  cursor: pointer;
  border-radius: 4px;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  transition: background-color 0.3s ease, transform 0.2s ease;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: fit-content;
}

button:hover,
button.active {
  background-color: var(--primary-color);
}

button:disabled,
button[disabled] {
  background-color: var(--disabled-color);
  color: var(--txt-muted);
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.6;
  box-shadow: none;
}
