:root {
  /* Fontes padrão */
  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;

  /* Pesos padrão das fontes */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-lightbold: 550;
  --font-weight-bold: 600;
  --font-weight-extrabold: 700;

  /* Tamanhos de fontes */
  --font-size-xxs: 0.6em;
  --font-size-xs: 0.75em;
  --font-size-sm: 1em;
  --font-size-md: 1.125em;
  --font-size-lg: 1.5em;
  --font-size-xl: 2em;
  --font-size-xxl: 2.5em;

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-primary);
    font-size: var(--font-size-lg);
    color: var(--heading-color);
  }

  p {
    font-family: var(--font-secondary);
    font-size: var(--font-size-md);
    color: var(--txt-dark);
  }
}
