.section-divider {
  margin: 0;
  padding: 0;
  background-color: var(--accent-color);
  min-height: 160px;
  padding: var(--space-lg);
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-xs);

  &__txt {
    color: var(--white);
    text-align: center;
    font-size: var(--font-size-md);
    line-height: var(--space-md);
    font-family: var(--font-primary);
    font-style: italic;

    &::before,
    &::after {
      content: '"';
      font-size: var(--font-size-lg);
      color: var(--white);
      font-weight: var(--font-weight-bold);
    }
  }

  &__author {
    font-size: var(--font-size-md);
    font-family: var(--font-primary);
    color: var(--white);
    font-weight: var(--font-weight-lightbold);
  }
}

.inspiration {
  color: var(--primary-color);
  padding: var(--space-xl) 0;
  text-align: left;

  &__title {
    font-family: var(--font-primary);
    font-size: var(--font-size-lg);
    font-weight: var(--font-weight-bold);
    margin-bottom: var(--space-md);
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
  }

  &__txt {
    font-family: var(--font-secondary);
    font-size: var(--font-size-md);
    line-height: 1.6;
    margin-bottom: var(--space-sm);
    color: var(--txt-dark);
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;

    em {
      font-style: italic;
    }

    strong {
      font-weight: var(--font-weight-lightbold);
    }
  }

  &__highlight {
    color: var(--accent-color);
    font-weight: var(--font-weight-lightbold);
  }
}
