.intro {
  width: 100%;
  color: var(--primary-color);
  padding: var(--space-xl) 0;
  text-align: left;

  &__title {
    font-family: var(--font-primary);
    font-size: var(--font-size-lg);
    margin-bottom: var(--space-md);

    @media (max-width: 768px) {
      padding: 0 var(--space-md);
      margin-bottom: var(--space-sm);
    }
  }

  &__description {
    font-family: var(--font-secondary);
    font-size: var(--font-size-md);
    line-height: 1.6;
    margin-bottom: var(--space-sm);
    color: var(--txt-dark);
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      padding: 0 var(--space-md);
    }
  }
}

.projects {
  display: grid;
  gap: var(--space-xxl);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  margin-bottom: var(--space-xxl);

  @media (max-width: 768px) {
    padding: 0 var(--space-md);
  }
}

.project-card {
  border: 1px solid var(--border-color);
  border-radius: var(--radius-md);
  background: var(--surface);

  &__title {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-lg);
    margin-bottom: var(--space-xs);
  }

  &__description {
    margin-bottom: var(--space-xs);
    font-size: var(--font-size-sm);
  }

  &__age {
    margin-bottom: var(--space-sm);
    font-size: var(--font-size-xs);
    color: var(--text-light);
  }

  &__link {
    margin: 0;
    color: var(--secondary-accent-color);
    font-weight: var(--font-weight-bold);

    &:hover {
      color: var(--primary-color);
    }
  }
}
