.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;

  &__image {
    height: auto;
    max-width: 50%;

    @media (max-width: 860px) {
      height: auto;
      max-width: 90%;
    }
  }
}
